.example-container {
    position: absolute;
    min-height: 100% !important;
    min-width: 100% !important;

}

.example-container2 {
    position: absolute;
    min-height: 90% !important;
    min-width: 90% !important;

}