<ons-page>
  <div class="content">
    <ons-list>
      <ons-list-item *ngFor="let message of Messages">
        <template ngIf="isRegularMessage(message)">
          <div class="left">
            <img class="list-item__thumbnail" [src]="message.User.PicUrl">
          </div>
          <div class="center">
            <div class="list-item__title">
              {{message.User.Username}}
              <span style="color:gray;font-size: small">{{getMessageTime(message)}}</span>
            </div>
            <span class="list-item__subtitle">{{message.Message}}</span>
          </div>
        </template>
      </ons-list-item>
      <!--<ons-list-item>
        <div class="left">
          <img class="list-item__thumbnail" src="http://placekitten.com/g/40/40">
        </div>
        <div class="center">
          <span class="list-item__title">Cutest kitty</span><span class="list-item__subtitle">Typing...</span>
        </div>
      </ons-list-item>-->
    </ons-list>
  </div>
  <ons-bottom-toolbar>
    <ons-row>
      <ons-col width="75%"><ons-input type="text" [(value)]="currentMessage"  style="width:100%" placeholder="Type here"></ons-input></ons-col>
      <ons-col style="text-align:right"><ons-button (click)="sendMessage()" >Send</ons-button></ons-col>
    </ons-row>    
    
    
    
  </ons-bottom-toolbar>  
</ons-page>